@import "../../../global-styles/style.scss";
$background-image: '/images/background.jpg';
$diamond-icon: '/assets/diamond.png';
$clock-icon: '/assets/clock.png';

.nft-component {
    width: 413px;
    background-color: $box-color;
    margin: 0 auto;
    border-radius: 20px;

    & &__text {
        margin-top: -150px;
        padding: 0 32px;
        max-width: 278px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    & &__title {
        color: $title-color;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    & &__description {
        color: $body-color;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: -0.01em;
    }

    & &__details {
        margin-top: 40px;
        padding: 0px 32px 0 32px;
        display: flex;
        justify-content: space-between;
    }

    & &__currency {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & &__currency-icon {
        width: 20px;
        height: 20px;
        background-image: url('#{$diamond-icon}');
        background-size: cover;
    }

    & &__currency-value {
        color: $primary-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: -0.01em;
    }

    & &__expire {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 2px;
    }

    & &__expire-icon {
        width: 20px;
        height: 20px;
        background-image: url('#{$clock-icon}');
        background-size: cover;
    }

    & &__time-left {
        color: $body-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.01em;
    }

    & &__separator {
        width: 349px;
        margin: 31px auto 23px;
        border: 1.75px solid #2B3953;
    }

    & &__author {
        padding: 0 0 24px 32px;
        display: flex;
        align-items: center;
        gap: 16px;
        height: 40px;
    }

    & &__author-avatar {
        height: 40px;
        width: 40px;
    }

    & &__author-name {
        margin-top: 2px;
        color: $body-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: -0.01em;

        span {
            font-weight: 600;
            color: $title-color;
        }
    }
}