@import "../../../global-styles/style.scss";
$background-image: '/images/background.jpg';
$diamond-icon: '/assets/diamond.png';
$clock-icon: '/assets/clock.png';

.nft-component {
    max-width: 413px;
    box-sizing: border-box;
    padding: 0 32px 24px 32px;
    background-color: $box-color;
    margin: 0 auto;
    border-radius: 20px;


    & &__hero-image-wrapper {
        width: calc(100% + 64px);
        margin-left: -32px;
    }

    & &__hero-image {
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    & &__text-wrapper {
        margin-top: -150px;
        max-width: 278px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    & &__title {
        color: $title-color;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    & &__description {
        color: $body-color;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: -0.01em;
    }

    & &__details-wrapper {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    & &__currency {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & &__currency-icon-wrapper {
        margin-top: 2px;
    }

    & &__currency-icon {
        width: 20px;
        height: 20px;
    }

    & &__currency-value {
        color: $primary-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: -0.01em;
    }

    & &__expire {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 2px;
    }

    & &__expire-icon-wrapper {
        margin-top: 2px;
    }

    & &__expire-icon {
        width: 20px;
        height: 20px;
    }

    & &__time-left {
        color: $body-color;
        font-weight: 500;
        font-size: 16px;
        margin-top: -1px;
        line-height: 26px;
        letter-spacing: -0.01em;
    }

}