@import "../../../global-styles/style.scss";

.separator-component {
    border: 1.5px solid $stroke-color;
    width: 100%;
    margin: 31px 0 25px 0;

    @media screen and (max-width: $tablet-breakpoint) {
        margin: 20px 0 20px 0;
    }
}